@model IEnumerable<CrudApplication.Models.Check>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="panel-heading">
        <h4 class="text-center text-danger">Check List</h4>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="StudentView" asp-action="" class="btn btn-info mt-3 ml-">Add</a>
    </div>
    <div>
        <table class="table table-bordered container" id="tab1">
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>

<div id="result"></div>

<input type="text" id="name" name="name" value="" />

<p id="checkBoxes">
    <input name="locationthemes" type="checkbox" id="cb1" value="1" />
    <label for="Checkbox1">Option One</label>
    <br />
    <input name="locationthemes" type="checkbox" id="cb2" value="2" />
    <label for="Checkbox2">Option Two</label>
    <br />
    <input name="locationthemes" type="checkbox" id="cb3" value="3" />
    <label for="Checkbox3">Option Three</label>
    <br />
    <input name="locationthemes" type="checkbox" id="cb4" value="4" />
    <label for="Checkbox4">Option Four</label>
    <br />
</p>

<input class="btn btn-info" type="button" id="button" name="name" value="GetValue" />

<h4 class="text-danger" id="status" /><br />

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#button").on('click', function () {
            var name = $("#name").val();
            var value = $("#checkBoxes input[type='checkbox']");

            var selected = [];
            value.each(function () {
                if (this.checked) {
                    selected.push($(this).next().text());
                }
            });
            var commaSeperatedValues = selected.join(',');
            $("#status").text(commaSeperatedValues);

            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/api/checks/add",
                data: JSON.stringify({
                    name: name,
                    value: commaSeperatedValues,
                }),
                dataType: "JSON",
                success: function (data) {
                    $("#tab1").find("tr:gt(0)").remove();
                    $.getJSON("/api/checks", function (data) {
                        $("#tab1").css("display", "block");
                        $.each(data, function (key, val) {
                            $("<tbody><tr><td>" + val.name + "</td><td>" + val.value + "</td></tr></tbody>").appendTo($("#tab1"));
                        });
                    });
                }


            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        $.getJSON("/api/checks", function (data) {
            $.each(data, function (key, val) {
                $("<tr><td>" + val.name + "</td><td>" + val.value + "</td><td>" + "<button class='btn btn-info' id='update' onclick=check.updateCheck('" + val.id + "')> Update</button> " + " <button class='btn btn-danger' id='delete' onclick=check2.updateheck2('" + val.id + "')> Delete</button>"  + "</td><tr>").appendTo($("#tab1"));
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#update").click(function () {
            check.updateCheck();
        })
    });
    var check = {

        updateCheck: function (ctl) {
            console.log("CTL", ctl);

            var value = $("#checkBoxes input[type='checkbox']");
            var selected = [];
            value.each(function () {
                if (this.checked) {
                    selected.push($(this).next().text());
                }
            });
            var commaSeperatedValues = selected.join(',');


            var confirmMessageBox = confirm('Are you sure you wish to update this record ?');
            if (confirmMessageBox) {
                if (ctl != '') {
                    var obj = "";
                    var serviceUrl = "http://localhost:5000/api/checks/" + ctl;

                    window.check.UpdateAPI(serviceUrl, onSuccess, onFailed);
                    function onSuccess(jsonData) {
                        window.location = "http://localhost:5000/check/update/" + jsonData.id;
                    }
                    function onFailed(error) {
                        alert('error');
                    }
                    return obj;
                }
            }
        },
        UpdateAPI: function (serviceurl, onSuccess, onFailed) {
            $.ajax({
                type: "GET",
                url: serviceurl,
                dataType: "json",
                data: JSON.stringify({ //Passing data
                    name: $("#name").val(), //Reading text box values using Jquery
                    value: $("#checkBoxes").val(),
                }),
                success: onSuccess,
                error: onFailed,

            });

        }
    }


</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>